:root {
    --sky: linear-gradient(45deg, #dddddd99, #1111dd99);
}


body {
    font-family: fantasy;
}

#header {
    margin: auto 10px;
    padding: 5px 20px;
}

#header-txt {
    background-color: #ffffff44; 
    text-align: center;
    border-radius: 20px;
    padding: 3px 0px;
    margin: 0 5px;
}

.sky {
    background: var(--sky);
    border-radius: 12px 24px;
    padding: 3px 10px;
    margin: 5px 10px;
}

.gangnam {
    font-family: garamond;
    font-size: 24px;
    text-shadow: 0px 0px 20px gold;
    color: #000044cc;
    border: 4px  groove plum;
    border-radius: 15px 7px 30px;
    padding: 15px 3pc 30px;
    margin: 15px 3px;
    background: linear-gradient(220deg, #ff4444bb, #44ffffbb);
    box-shadow: 0px 0px 20px gold;
}
